<p>
  main works!
</p>
<div>
  <a (click)="switchPanel('product')">Ürünler</a> | 
  <a (click)="switchPanel('category')">Kategoriler</a> | 
  <a (click)="switchPanel('cart')">Sepet</a>
</div>

<div *ngIf="panelName=='category'">
  <app-category></app-category>
</div>

<div *ngIf="panelName=='product'">
  <app-product></app-product>
</div>

<div *ngIf="panelName=='cart'">
  <app-cart></app-cart>
</div>