<p>
  cart works!
</p>

<div>
  <table>
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Order Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of model">
        <td>{{item.CategoryName}}</td>
        <td>{{item.ProductName}}</td>
        <td>{{item.Quantity}}</td>
        <td>{{item.OrderCost}}</td>
      </tr>
    </tbody>
  </table>
</div>