<p>
  category works!
</p>
<div>
  <button name="btnCategory" (click)="btnCategory_Click($event)">Kategorileri getir</button>
  <br>
  <table>
    <thead>
      <tr>
        <th>Category Id</th>
        <th>Category Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of model">
        <td>{{category.CategoryID}}</td>
        <td>{{category.CategoryName}}</td>
      </tr>
    </tbody>
  </table>
</div>