<p>
  product works!
</p>

<table>
  <thead>
    <tr>
      <th>CategoryID</th>
      <th>ProductName</th>
      <th>Unit Price</th>
      <th>Unit Price VAT</th>
      <th>Units In Stock</th>
      <th>Units On Order</th>
      <th>Order Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of model">
      <td>{{product.CategoryID}}</td>
      <td>{{product.ProductName}}</td>
      <td>{{product.UnitPrice|currency}}</td>
      <td>{{product.UnitPrice|vat:8|currency}}</td>
      <td>{{product.UnitsInStock}}</td>
      <td>{{product.UnitsOnOrder}}</td>
      <td><input type="text" id="txtOrder_{{product.ProductID}}" value="{{product.OrderQuantity}}"></td>
      <td><button type="button" (click)="SetOrder(product.ProductID)">Sipariş</button></td>
    </tr>
  </tbody>
</table>

<h2>{{dateModel|date:'dd.MM.yyyy'}}</h2>